<h1>Pirate</h1>
<h2>Name: <%= @pirate.name %></h3>
<h3>Weight: <%= @pirate.weight %></h3>
<h4>Height: <%= @pirate.height %> </h4>


<h1>Ships</h1>
<% @ship.each do |ship| %>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<% end %>



